.hoverIcon {
    color: lightgray;
}

.hoverIcon:hover {
    color: greenyellow;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

.wrapper form {
    padding: 10px;
}

.todo {
    display: flex;
    width: 100%;
}

.stretch {
    flex: 1;
}
